[defaults]

# Path of inventory file
inventory = ./inventory/hosts

# The forks parameter controls how many hosts are configured by Ansible in parallel.
forks = 1

# Avoids SSH asking for confirmation when logging in a host for the first time.
host_key_checking = False

# default user to use for playbooks if user is not specified
# (/usr/bin/ansible will use current user as default)
# remote_user = devops
